[Desktop Entry]
Name=Musishark
Comment=A modern, Linux-first YouTube Music player
Exec=musishark %U
Icon=io.github.matko802.Musishark
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=youtube;music;streaming;player;audio;
StartupNotify=true
MimeType=x-scheme-handler/musishark;
