1 24 "MixinstuffBridge.exe.manifest"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Mixinstuff"
            VALUE "ProductName", "Mixinstuff"
            VALUE "FileVersion", "1.0.0"
            VALUE "CompanyName", "matko802"
            VALUE "InternalName", "MixinstuffBridge"
            VALUE "OriginalFilename", "MixinstuffBridge.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
